body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#app {
    width: 60%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

#availableBalance {
    width: calc(32% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    height: 100%;
    text-align: center;
}

#stockSelect {
    width: calc(48% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    height: 100%;
    appearance: none;
    background-color: white;
}

#investButton {
    width: calc(18% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #66a3ff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#investButton:hover {
    background-color: #3385ff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #66a3ff;
    color: white;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #66a3ff;
    color: white;
}

table {
    border-spacing: 0;
}

th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #a6c3ff;
    color: white;
}


#backButton {
    margin-top: 20px;
    padding: 10px;
    background-color: #66a3ff;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#backButton:hover {
    background-color: #3385ff;
}
